[submodule "deps/expected"]
	path = deps/expected
	url = https://github.com/TartanLlama/expected.git
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
[submodule "deps/spdlog"]
	path = deps/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "deps/argparse"]
	path = deps/argparse
	url = https://github.com/p-ranav/argparse.git
