[submodule "submodules/expected"]
	path = submodules/expected
	url = https://github.com/TartanLlama/expected.git
[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/nlohmann/json.git
[submodule "submodules/spdlog"]
	path = submodules/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "submodules/argparse"]
	path = submodules/argparse
	url = https://github.com/p-ranav/argparse.git
